:root {
  --periwinkle: #6789FF;
  --white: #ffffff;
  --lightperi: #D8E0FF;
  --purple: #623CFF;
}

/* 
typography
size and color
50 semibold - logotype, it's a match H1
40 bold - name on profile, name on its a match sign up/login H2
30 medium - page header, explore, gender/age/height H3
30 bold - reviews/preferences
25 regular - p, button, form P
20 medium - details, review name H4
20 regular - signup/login, close its a match H5
*/
h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size:  30px;
  font-weight: 500;
}

p, button, input, textarea {
  font-size: 25px;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h1, h2, h3, h5 {
  text-align: center;
}

button {
  border: 3px solid var(--periwinkle);
  border-radius: 50px;
  padding: 5px 25px 5px 25px;
  margin: 10px;
  background-color: var(--white);
  transition: opacity 0.3s ease-in-out;
}

button:hover, button:active {
  background-color: var(--lightperi);
}

/* login and signup */
.formContainer {
  background: linear-gradient(to bottom, var(--purple), var(--periwinkle));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupLogin {
  display: flex;
  justify-content: space-between;
  margin: 80px 10px 60px 10px;
}

.signupLogin > button {
  padding: 15px 25px 15px 25px;
}

.active {
  border: 2px solid var(--white);
  border-radius: 50px;
  background-color: var(--purple);
}

input {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 20px;
  padding: 15px;
  margin: 7px 0px 7px;
  text-indent: 10px;
  width: 300px;
  color: var(--white);
  outline: none;
}

::placeholder {
  color: var(--white);
  opacity: 1;
}

form > button {
  border: none;
  background-color: transparent;
  color: var(--white);
}

form > button:hover {
  color: var(--lightperi);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer {
    bottom: 0
  }

  body {
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    top: 0
  }

  body {
    margin-top: 110px;
  }
}

footer {
  position: fixed;
  height: 77px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background: linear-gradient(270deg, var(--purple), var(--periwinkle));
}

footer a {
  text-decoration: none;
  color: white;
}

footer img {
  height: 50px;
  margin: 5px;
}

.exploreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding-top: 80px;
}

.matchBtns {
  height: 128px;
  width: 128px;
}

.matchBtnContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  margin-top: 30px;
}

.explorePhoto {
  height: 345px;
  width: 345px;
}

.exploreStats {
  color: var(--periwinkle);
  margin-top: 20px;
  width: 55px;
}

.exploreName {
  margin-top: 30px;
}

.exploreStatContainer {
  display: flex;
  justify-content: space-between;
  width: 186px;
}